.login {width: 60%; position: relative; margin: 0 auto; top: 45px;}

.login .login_content{width: 100%;}
.login .login_content div {width: 5%; float: left; }
.login::after{content: ''; display: block; clear: both;}
.login .login_content input{border:none;}
.login .login_content input {border-bottom: 1px solid #003458; width: 60%;}
.login .login_content input:focus{outline: none;}

.btn_login {width: 10%; background: #f89b00;color:#003458;border: 1px solid #f89b00; margin-top: 30px;}
